<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	lang="en"
	xml:lang="en">

<head>

<meta http-equiv="imagetoolbar"
	content="no" />
	
<title>NoseBleed theme by Mike Lothar</title>

<meta http-equiv="Content-Type"
	content="text/html;
	charset=iso-8859-1">
	
<link rel="icon"
	href="images/favicon.ico" />
	
</head>
<body bgcolor="#666666">

<div style="text-align: center;"><a href="http://www.mikelothar.com/" target="_new"><img src="images/created_by.gif" style="border: 0; margin-top: 100px;" alt="NoseBleed theme by Mike Lothar" /></a></div>

</body>
</html>